@use './utils.scss' as *;

.apartInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  @include mobile {
    flex-direction: column;
    margin-bottom: 13px;
  }
  &-titleLocTags {
    color: $main-color;
    width: 60%;
    @include mobile {
      width: 100%;
    }
    h3 {
      font-size: 36px;
      line-height: 142%;
      @include mobile {
        font-size: 18px;
        margin-bottom: 5px;
        width: 100%;
      }
    }
    .location {
      margin-bottom: 20px;
      font-size: 18px;
      @include mobile {
        margin-bottom: 10px;
        font-size: 14px;
      }
    }
  }
  &-hostRating {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include mobile {
      margin-top: 16px;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
  &-hostInfo {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
    @include mobile {
      margin-bottom: 0;
    }
    .hostName {
      font-size: 18px;
      color: $main-color;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @include mobile {
        font-size: 12px;
      }
    }
    .hostPic-wrap {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      margin-left: 10px;
      @include mobile {
        width: 32px;
        height: 32px;
      }
      img {
        border-radius: inherit;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &-rating {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    svg {
      width: 24px;
      height: 24px;
      fill: #e3e3e3;
      @include mobile {
        width: 13px;
        height: 13px;
      }
    }
    .star-color {
      fill: $main-color;
    }
  }
}

.descriptionEquipment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  @include mobile {
    margin-bottom: 27px;
    flex-direction: column;
  }
}
