@use './utils.scss' as *;

.carousel {
  margin: 0 auto;
  position: relative;
  margin-bottom: 30px;
  @include mobile {
    margin-bottom: 15px;
  }
  &-container {
    height: 415px;
    display: flex;
    overflow: hidden;
  }
  &-slide {
    display: none;
    min-width: 100%;
    height: 100%;
    @include mobile {
      height: 255px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include borderRadiusBig;
    }
  }

  .active {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
  }
}

.pic-number {
  display: none;
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  color: #fff;
}
.arrow {
  display: none;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  svg {
    width: 80px;
    height: 80px;
    fill: #fff;
    @include mobile {
      width: 24px;
      height: 24px;
    }
  }
  &-back {
    left: 2%;
    svg {
      transform: rotate(-90deg);
    }
  }
  &-forward {
    right: 2%;
    svg {
      transform: rotate(90deg);
    }
  }
}
