@use 'utils.scss' as *;

.dropdown {
  &-title {
    color: #fff;
    background-color: $main-color;
    display: flex;
    justify-content: space-between;
    @include borderRadiusSmall;
  }
  &-content {
    color: $main-color;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 5px 5px;
    line-height: 150%;
  }
  &_large {
    width: 1024px;
    .dropdown-title {
      font-size: 24px;
      padding: 10px 15px;
    }
  }
  &_medium {
    width: 47%;
    .dropdown-title {
      font-size: 18px;
      padding: 10px 20px 10px 10px;
    }
    .dropdown-content {
      padding: 20px;
    }
  }
  &_small {
    max-width: 650px;
    .dropdown-title {
      font-size: 13px;
      padding: 10px 6px 10px 10px;
    }
    .dropdown-content {
      font-size: 12px;
    }
  }
}
