@use './utils.scss' as *;

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 0 50px;
  @include mobile {
    padding: 20px 0 27px;
  }
  a {
    color: $main-color;
    font-size: 24px;
    @include mobile {
      text-transform: uppercase;
      font-size: 12px;
    }
    &:first-child {
      margin-right: 57px;
      @include mobile {
        margin-right: 26px;
      }
    }
  }
  .active {
    text-decoration: underline;
  }
  svg {
    fill: $main-color;
    width: 210px;
    height: 68px;
    @include mobile {
      width: 145px;
      height: 47px;
    }
    @media (max-width: 330px) {
      width: 120px;
    }
  }
}
