$main-color: #ff6060;
$mobile-width: 650px;
$header-height: 163px;
$header-height-mobile: 94px;
$footer-height: 228px;
$footer-height-mobile: 184px;

@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin borderRadiusBig {
  border-radius: 25px;
}

@mixin borderRadiusSmall {
  border-radius: 10px;
}

@mixin dropdownTransition {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
