$main-color: #FF6060;
$mobile-width: 650px;
$header-height: 163px;
$header-height-mobile: 94px;
$footer-height: 228px;
$footer-height-mobile: 184px;


@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin borderRadiusBig {
  border-radius: 25px;
}

@mixin borderRadiusSmall {
  border-radius: 10px;
}

@mixin dropdownTransition {
  transition: all 0.5s linear;
}